# PostgreSQL
POSTGRES_USER=songdigger
POSTGRES_PASSWORD=songdigger
POSTGRES_DB=songdigger

# Next.js
DATABASE_URL="postgresql://songdigger:songdigger@localhost:5432/songdigger"
PYTHON_SERVICE_URL="http://localhost:8000"

# Python service
COSINE_CLUB_API_KEY=

YANDEX_MUSIC_TOKEN=

DISCOGS_TOKEN=

#DEV_CACHE=1
LASTFM_API_KEY=
